<%- include('header') %>
<div class="container col-sm-5 shadow-lg p-3 bg-white rounded">
  <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
    <h3 class="text-center"><%= title %></h3>

    <label for="maleName" class="col-sm-4 col-form-label">Name</label>
    <div>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Enter Name"
        required
      />
    </div>

    <label for="femaleName" class="col-sm-4 col-form-label">City</label>
    <div>
      <input
        type="text"
        class="form-control"
        name="city"
        placeholder="Enter City"
        required
      />
    </div>

    <label for="image" class="col-sm-4 col-form-label">Select Image</label>
    <div>
      <input
        type="file"
        class="form-control"
        name="image"
        id="image"
        required
      />
    </div>

    <div class="col-12 text-center mt-3">
      <button class="col-12 btn btn-primary" type="submit">Submit</button>
      <!-- <a href="/getAllPhotos" class="col-12 mt-1 btn btn-success"> Get All Photos</a> -->
      <!-- <a href="/delete" class="col-12 mt-1 btn btn-danger"> DeleteAllData</a> -->
    </div>
  </form>
</div>
<%- include('footer') %>
